#API
fastapi
uvicorn

#Validation
pydantic

#Tests
pytest
pytest-cov

#Machine Learning
scikit-learn
shap
category-encoders


#Data science
pandas
numpy
scipy
seaborn

#Base de données
sqlalchemy #orm de gestion de bd python
psycopg2-binary #pilote python pour postgresql
python-dotenv #gestion du fichier d'environneùment