# .github/workflows/main_ci.yml

name: Continuous Integration Pipeline

#Déclencher le workflow sur les push et les pull requests visant la branche "develop"
on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build_and_test:
    #Exécuter la dernière version de ubuntu
    runs-on: ubuntu-latest

    #Stratégie de matrice pour tester sur différentes versions de python
    strategy:
      matrix:
        python-version: ["3.13"]

    steps:
    - name: Checkout repository code
      uses: actions/checkout@v4

    #Configuration de l'environnement python
    - name: Set up Python ${{ matrix.python-version }}
      uses: action/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        #Installer les dépendances du projet
        pip install -r requirements.txt

    - name: Run Pytest and Coverage (CI)
      run: |
        #Cette commande exécute les tests
        pytest --cov=src --cov-report=xml

    - name: Configure secrets for deployment
      run: |
        echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env
        echo "API_KEY=${{ secrets.API_KEY }}" >> .env



