# # .github/workflows/main_ci.yml

# name: Continuous Integration Pipeline

# #Déclencher le workflow sur les push et les pull requests visant la branche "develop"
# on:
#   push:
#     branches: [ develop ]
#   pull_request:
#     branches: [ develop ]

# jobs:
#   build_and_test:
#     #Exécuter la dernière version de ubuntu
#     runs-on: ubuntu-latest

#     #Stratégie de matrice pour tester sur différentes versions de python
#     strategy:
#       matrix:
#         python-version: ["3.13"]

#     steps:
#     - name: Checkout repository code
#       uses: actions/checkout@v4

#     #Configuration de l'environnement python
#     - name: Set up Python ${{ matrix.python-version }}
#       uses: action/setup-python@v5
#       with:
#         python-version: ${{ matrix.python-version }}

#     - name: Install dependencies
#       run: |
#         python -m pip install --upgrade pip
#         #Installer les dépendances du projet
#         pip install -r requirements.txt

#     - name: Run Pytest and Coverage (CI)
#       run: |
#         #Cette commande exécute les tests
#         pytest --cov=src --cov-report=xml

#     - name: Configure secrets for deployment
#       run: |
#         echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env
#         echo "API_KEY=${{ secrets.API_KEY }}" >> .env





# .github/workflows/main_ci.yml

#Déclenchement sur chaque push ou pull resquest sur la branche 'develop'
on:
  push:
    branches: [ develop ]
  
  pull_request:
    branches: [ develop ]

jobs:
  build-test-and-deploy:
    #Exécuter la dernière version de ubuntu
    runs-on: ubuntu-latest

    #Cycle CI/CD
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade
          # Installer les dépendances
          pip install -r requirements.txt

      #EXECUTION DES TESTS
      - name: Run pytest and generate coverage Report
        run: |
          #Pytest exécute tous les test unitaires et fonctionnels
          #--cov=src: Calcule la couverture du dossier src/ sur les tests
          #--vov-report=xml: Va générer le rapport XL nécessaire à l'intégration continue
          pytest --cov-src --cov-report=xml
      

      #Phase de déploiement
      - name: Deploy to Hgging Face Spaces
        if : github.ref == 'refs/head/main'
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_USERNAME: ${{ secrets.HF_USERNAME }}
          HF_SPACE_NAME: ${{ secrets.HF_SPACE_NAME }}
        run: |
          echo "Déploiement en production sur Hugging Face Spaces..."
          git push https://huggingface.co/spaces/bazaroph/futurysis main
      
